$icomoon-font-path: "fonts" !default;

$mstr-mestre: "\e903";
$mstr-signature: "\e904";
$mstr-mestre-within: "\e902";
$mstr-crown: "\e900";
$mstr-established: "\e901";
$mstr-pillar-power: "\e911";
$mstr-pillar-vision: "\e912";
$mstr-pillar-wisdom: "\e913";
$mstr-sp-o: "\e915";
$mstr-sp: "\e916";

